section.contacts
	.container
		.section-title
			h2.h2 Контакты
		
		.flex-wrapper
			.contacts-col
				ul.contats-list
					li
						span Email:
						a(href="#!").page-link hello@mail.com
					li
						span Телефон:
						a(href="#!").page-link +7(998)777-77-77
			
				.social-block
					a(href="#!")
						svg.svg-tg
							use(href="./img/svgSprite.svg#svg-tg")
					a(href="#!")
						svg.svg-vk
							use(href="./img/svgSprite.svg#svg-vk")
					a(href="#!")
						svg.svg-fb
							use(href="./img/svgSprite.svg#svg-fb")
					a(href="#!")
						svg.svg-wa
							use(href="./img/svgSprite.svg#svg-wa")
			
			.contacts-text
				p Если вы ищите специалиста по верстке сайтов или frontend разработчика в команду для работы над проектом —  напишите мне.
				.decor-img
					img(src="./img/quote.png", alt="img")



