section.portfolio
	.container
		.section-title
			h2.h2 Портфолио
		.portfolio-wrapper
			.portfolio-card
				.portfolio-card__img
					img(src="./img/projects/card1.jpg", alt="img")
				.portfolio-card__text
					.h4 Верстка “Форест тревел”
					p Верстка многостраничного сайта

			.portfolio-card
				.portfolio-card__img
					img(src="./img/projects/card2.jpg", alt="img")
				.portfolio-card__text
					.h4 Сайт приложения “Юнит”
					p Верстка лендинга

			.portfolio-card
				.portfolio-card__img
					img(src="./img/projects/card3.jpg", alt="img")
				.portfolio-card__text
					.h4 Верстка “Мир Авто”
					p Верстка лендинга

			.portfolio-card
				.portfolio-card__img
					img(src="./img/projects/card4.jpg", alt="img")
				.portfolio-card__text
					.h4 Верстка “Мир Авто”
					p Верстка лендинга

			.portfolio-card
				.portfolio-card__img
					img(src="./img/projects/card5.jpg", alt="img")
				.portfolio-card__text
					.h4 Верстка “Мир Авто”
					p Верстка лендинга