.header-skills
	.container
		.flex-wrapper
			.header-slills__col
				p.h3 Что я умею:
				ul.header-slills__list
					li pixel perfect, полное соответствие макету
					li верстаю с сеткой или без
					li адаптивная верстка под мобильные устройства
					li оптимизация по retina экраны
					li с Bootstrap и без него

			.header-slills__col
				p.h3 На связи:
				.social-block
					a(href="#!")
						svg.svg-tg
							use(href="./img/svgSprite.svg#svg-tg")
					a(href="#!")
						svg.svg-vk
							use(href="./img/svgSprite.svg#svg-vk")
					a(href="#!")
						object(type="image/svg+xml" data="./img/inst.svg")
					a(href="#!")
						svg.svg-fb
							use(href="./img/svgSprite.svg#svg-fb")
					a(href="#!")
						svg.svg-wa
							use(href="./img/svgSprite.svg#svg-wa")
				a(href="#!").page-link hello@mail.com