
extends ../layouts/layout.pug

block content
	include ../sections/_header.pug
	include ../sections/_portfolio.pug
	include ../sections/_hw.pug
	include ../sections/_contacts.pug
	
	
	
	
block variables
	-var title = "Портфолио";
